body {
    font-family: 'Century Gothic', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.row {
    display: flex;
}

.column {

}

.headshot {
    float:left;
    width: 61.8%;
    max-width: 1200 px;
}

.bio {
    float:right;
    width: 38.2%;
    padding: 30px;
}



button {
    font-family: 'Century Gothic', Arial, sans-serif, sans-serif;
}


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
