/* Global */

/* @font-face {
    font-family: 'century_gothicregular';
    src: url('https://devongwells.github.io/centurygothic-webfont.woff2') format('woff2'),
         url('https://devongwells.github.io/centurygothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

.row {
    display: grid;
    grid-template-columns: 61.8% 38.2%;
    width: 100%;   
}

body {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headshot,
.bio {
    padding: 0px;
    background-color: #fff;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container img {
    width: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0;
    bottom: 0;
    width: 100%;
}


.blog-index{
    margin: auto;
    width: 66%;
    
}

.blogpost {
    margin: auto;
    width: 66%;
    padding-top: 100px;
}

/* Desktop layout */

.headshot {
    float:left;
    max-width: 1200px;
}

.bio {
    background-color: rgb(255, 255, 255);
    float:right;
    padding: 80px;
}

.bio h1 {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    font-size: 50px;
    color: #0097b2;
}

.bio h2 {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    font-size: 30px;
    color: #333;}

    button {
        font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
        font-size: 16px;
        background-color: #0097b2;
        color: #fff;
        border: 0px;
        border-radius: 4px;
        padding: 10px;
}

/* Mobile layout */

@media (max-width: 600px) {
    .row { 
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .headshot,
    .bio {
        width: 66%;
        margin: 10px 0;
    }
}

@media (max-width: 600px) {

}

body {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;}

    .headshot {
        order: 1;
    }

    .bio {
        order: 2;
    }

button {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    font-size: 16px;
    background-color: #0097b2;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    font-size: 50px;
    color: #333;
}

h2 {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    font-size: 30px;
    color: #333;
}

footer {
    font-family: 'century_gothicregular', Arial, sans-serif, sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0;
    bottom: 0;
    width: 100%;
}